<h2 class="mb-5">Nuevo Contacto</h2>

<div class="row row-cols-3 justify-content-center">
    <form>
        <div class="mb-3">
            <label for="name">Nombre</label>
            <input id="name" type="text" placeholder="Nombre" class="form-control">            
        </div>
        <div class="mb-3">
            <label for="email">Nombre</label>
            <input id="email" type="email" placeholder="Email" class="form-control">            
        </div>
        <div class="text-end"> 
            <button type="button" class="btn btn-light" routerLink="/">
                Cancelar
            </button>
            <button class="btn btn-primary ms-2">
                Crear Contacto
            </button>
        </div>
    </form>
</div>